<a href="https://colab.research.google.com/github/kratikv2/kratikv2/blob/main/Car_Dekho_Data_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [2]:
cd gdrive/MyDrive/

/content/gdrive/MyDrive

In [3]:
import pandas as pd

df = pd.read_csv('Car Dekho Assignment data.csv')

In [4]:
# df = df.drop(df[(df['Company Name'] != "Maruti")].index)

In [5]:
df.head()

                       name  year  ...  Price Range  KM Range
0             Maruti 800 AC  2007  ...  Inexpensive  Moderate
1  Maruti Wagon R LXI Minor  2007  ...   Affordable  Moderate
2      Hyundai Verna 1.6 SX  2012  ...    Expensive    Highly
3    Datsun RediGO T Option  2017  ...   Affordable      Less
4     Honda Amaze VX i-DTEC  2014  ...   Affordable    Highly

[5 rows x 12 columns]

In [6]:
df.tail()

                                     name  year  ...  Price Range  KM Range
3572  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014  ...   Affordable  Moderate
3573           Hyundai i20 Magna 1.4 CRDi  2014  ...   Affordable  Moderate
3574                  Maruti 800 AC BSIII  2009  ...   Affordable  Moderate
3575     Hyundai Creta 1.6 CRDi SX Option  2016  ...    Expensive  Moderate
3576                     Renault KWID RXT  2016  ...   Affordable      Less

[5 rows x 12 columns]

In [7]:
import numpy as np
print (df.fuel.sort_values().unique())
print (df.seller_type.sort_values().unique())
print (df.transmission.sort_values().unique())
print (df.owner.sort_values().unique())
print (df['Company Name'].sort_values().unique())
print (df['Product Lifeline'].sort_values().unique())
print (df['KM Range'].sort_values().unique())
print (df['Price Range'].sort_values().unique())

['CNG' 'Diesel' 'Electric' 'LPG' 'Petrol']
['Dealer' 'Individual' 'Trustmark Dealer']
['Automatic' 'Manual']
['First Owner' 'Fourth & Above Owner' 'Second Owner' 'Test Drive Car'
 'Third Owner']
['Ambassador' 'Audi' 'BMW' 'Chevrolet' 'Daewoo' 'Datsun' 'Fiat' 'Force'
 'Ford' 'Honda' 'Hyundai' 'Isuzu' 'Jaguar' 'Jeep' 'Kia' 'Land' 'MG'
 'Mahindra' 'Maruti' 'Mercedes-Benz' 'Mitsubishi' 'Nissan' 'OpelCorsa'
 'Renault' 'Skoda' 'Tata' 'Toyota' 'Volkswagen' 'Volvo']
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 28]
['Extreme' 'Highly' 'Less' 'Moderate' 'New']
['Affordable' 'Cheap' 'Deluxe' 'Expensive' 'Inexpensive' 'Luxurious']

## **MODEL PREPARATION**

***Encoding Features***

Scikit-learn provides LabelEncoder library for encoding labels with a value between 0 and one less than the number of discrete classes.

In [8]:
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
testingvariables= pd.DataFrame()
# Converting string labels into numbers.
fuel_encoded=le.fit_transform(df['fuel']) #Transforming attributes into numeric values
testingvariables['fule']=le.transform(['Petrol']) 

seller_type_encoded=le.fit_transform(df['seller_type'])
testingvariables['seller_type']=le.transform(['Individual'])

transmission_encoded=le.fit_transform(df['transmission'])
testingvariables['transmission']=le.transform(['Manual'])

owner_encoded=le.fit_transform(df['owner'])
testingvariables['owner']=le.transform(['First Owner'])

CompanyName_encoded=le.fit_transform(df['Company Name'])
testingvariables['CompanyName']=le.transform(['Maruti'])

ProductLifeline_encoded=le.fit_transform(df['Product Lifeline'])
testingvariables['ProductLifeline']=le.transform(['4'])

KMRange_encoded=le.fit_transform(df['KM Range'])
testingvariables['KMRange']=le.transform(['Moderate'])

PriceRange_encoded=le.fit_transform(df['Price Range'])

In [9]:
testingvariables.head()

   fule  seller_type  transmission  ...  CompanyName  ProductLifeline  KMRange
0     4            1             1  ...           18               27        3

[1 rows x 7 columns]

In [10]:
Independentvariables= pd.DataFrame()
Independentvariables['fule']=fuel_encoded
Independentvariables['seller_type']=seller_type_encoded
Independentvariables['transmission']=transmission_encoded
Independentvariables['owner']=owner_encoded
Independentvariables['CompanyName']=CompanyName_encoded
Independentvariables['ProductLifeline']=ProductLifeline_encoded
Independentvariables['KMRange']=KMRange_encoded

In [11]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(Independentvariables,PriceRange_encoded)

GaussianNB(priors=None, var_smoothing=1e-09)

In [12]:
PriceRange=np.array(['Affordable', 'Cheap', 'Deluxe', 'Expensive', 'Inexpensive','Luxurious'])

In [13]:
#Predict Output
predicted= model.predict(testingvariables)
print ("Car Prdictive Selling Will be lie in Range :", PriceRange[predicted])

Car Prdictive Selling Will be lie in Range : ['Cheap']

## **MODEL EVALUATION**

**Splitting Data**
we have to first separate the columns into dependent and independent variables(or features and label). Then we will split those variables into train and test set.

In [14]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(Independentvariables, PriceRange_encoded, test_size=0.3,random_state=109) # 70% training and 30% test

**Model Generation**
After splitting, we are going to generate a random forest model on the training set and perform prediction on test set features.

In [15]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)

**Evaluating Model**
After model generation, check the accuracy using actual and predicted values.

In [16]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.419925512104283